@import '../styles/variables.scss';

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 2em;
}

.add-meeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    border: 1px solid $theme-color;
    box-shadow: $shadow-color 0px 7px 29px 0px;
    padding: $content-padding;
}

.next-btn {
    grid-column: span 2;
    background-color: $theme-color;
    line-height: 1.3em;
    padding: 5px;
    border-radius: 5px;
    color: white
}

.notification {
    padding: 10px;
    grid-column: span 2;
    text-align: center;
    color: red;
    border: 2px solid red;
    background-color: rgba(250, 218, 218, 0.668);
}

.success {
    padding: 10px;
    grid-column: span 2;
    text-align: center;
    color: green;
    border: 2px solid green;
    background-color: rgba(190, 249, 195, 0.668);
}