.meeting-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid rgb(111, 4, 4);
}

.display-block {
    padding: 2em;
}

.heading {
    line-height: 1.5em;
    font-weight: 800;
}