@import '../styles/variables.scss';

.meeting-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $theme-color;
    box-shadow: $shadow-color 0px 7px 29px 0px;
}

.summary-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: $content-padding;
}

.summary-block:not(:last-child)  {
    border-bottom: 1px solid $theme-color;
}

.heading {
    line-height: 1.5em;
    font-weight: 800;
}